// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    // font-family: LatoReg;
}
a{
    display: block;
}
@font-face {
    font-family: "LatoReg";
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: "MeriReg";
    src: url('../fonts/Merriweather-Regular.ttf');
}
@font-face {
    font-family: "MeriBold";
    src: url('../fonts/Merriweather-Bold.ttf');
}
@font-face {
    font-family: "NotoReg";
    src: url('../fonts/NotoSerif-Regular.ttf');
}
@font-face {
    font-family: "NotoBold";
    src: url('../fonts/NotoSerif-Bold.ttf');
}
@font-face {
    font-family: "SourceSans";
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
//init end

//pallette
$container-width: 1100px;
.container{
    position: relative;
    width: $container-width;
    margin: auto;
}
.flex{
    display: flex;
}
.drop-arrow{
    width: 8px;
    position: relative;
    left: -2px;
}
.mobile-handle{
    display: none;
}
//pallette

//Navbar
#navbar{
    // padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: NotoReg;
    letter-spacing: 2px;
    z-index: 55;
    transition: all .3s ease;
    background: white;
    .logo-container{
        img{
            width: 30px;
            padding: 5px;
            display: inline-block;
            position: relative;
            top: 10px;
        }
        .logo-text{
            position: relative;
            left: -2px;
            font-size: 16px;
            opacity: 0.9;
            opacity: 0;
            transition: all 1.2s ease;
        }
    }
    .flex{
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        background: white;
        padding: 0px 10px;
        transition: all .3s ease;
    }
    .nav-ul{
        display: flex;
        font-size: 14px;
        li{
            position: relative;
            margin-left: 20px;
            a{
                padding: 10px 0px 10px 0px;
                opacity: 0.7;
                transition: all .3s ease;
                letter-spacing: 1px;
            }
            .sub-menu{
                display: none;
                position: absolute;
                font-size: 12px;
                width: 200px;
                background: white;
                padding: 5px 0;
                left: 0px;
                border: 1px solid #eee;
                border-top: 0;
                li{
                    opacity: 0.8;
                    padding: 0 15px;
                    a{
                        padding: 10px 0px;
                    }
                }
                // li:after{
                //     display: none;
                // }
                li:hover{
                    opacity: 1;
                }
            }
        }
        li.sub-parent:after{
            display: none;
        }
        // li:after{
        //     content: "";
        //     width: 0;
        //     background: black;
        //     left: 0px;
        //     height: 1px;
        //     position: absolute;
        //     bottom: -1px;
        //     transition: all .5s ease;
        // }
        // li:hover:after{
        //     width: 35px;
        // }
        li:hover{
            a{
                opacity: 1;
            }
            .sub-menu{
                display: block;
            }
        }
    }
}
#navbar.scrolled{
    // padding: 10px 0;
    .flex{
        border-bottom: 1px solid #eee;
    }
}
//Navbar

//parentContainer
#parentContainer{
    background-size: 100px;
    min-height: 95vh;
    background: white;
    position: relative;
    z-index: 5;
    margin-bottom: 34px;
    padding-top: 56px;
}
//parentContainer

//Footer
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: black;
    color: white;
    font-family: MeriReg;
    font-size: 11px;
    .flex{
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    }
}
//Footer

.w40{
    width: 40%;
}
.w45{
    width: 45%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.arrow-container{
    width: 13px;
    height: 13px;
    border: 3px solid #191919;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
    cursor: pointer;
    border: 3px solid #191919;
    transition: all .3s ease;
}

.arrow-container.prev{
    left: -25px;
    border-right: 0;
    border-bottom: 0;
}
.arrow-container.next{
    right: -25px;
    border-left: 0;
    border-top: 0;
}
.arrow-container.slick-disabled{
    opacity: 0.5;
    border: 3px solid #191919;

    border-radius: 50%;
    transform: translateY(-50%) rotateZ(-145deg);
}
//productDetail
#productDetail{
    .flex{
        flex-wrap: wrap;
        // justify-content: center;
    }
    img{
        max-width: 100%;
    }
    .product-big{
        width: 100%;
        text-align: center;
        transition: all .2s ease;
        background-image: url();
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #productShow{
        transition: all 0.5s ease;
        display: block;
        // opacity: 0;
    }
    #productShow.hide{
        opacity: 0;
    }
    .product-img-parent{
        padding: 50px;
        padding-bottom: 30px;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .wRight{
        width: 40%;
        padding: 40px 0px;
        .form-header{
            width: 100%;
            padding: 10px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            font-family: MeriReg;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 1px solid #eee;
            .breadcrumb{
                width: 100%;
                display: flex;
                font-size: 12px;
                font-family: NotoReg;
                margin-bottom: 15px;
                opacity: 0.6;
                .seperator{
                    padding: 0 10px;
                }
            }
            .title{
                font-size: 24px;
                letter-spacing: 2px;
                font-family: NotoBold;
            }
            .series{
                font-size: 12px;
                font-style: italic;
                opacity: 0.7;
                letter-spacing: 1px;
            }
            .price{
                font-size: 25px;
                font-family: NotoReg;
                letter-spacing: 1px;
                .unit{
                    font-size: 14px;
                    letter-spacing: 0;
                }
            }
        }
        .form-group{
            display: flex;
            width: 100%;
            padding: 5px 10px;
            font-family: SourceSans;
            font-size: 14px;
            transition: all .3s ease;
            align-items: center;
            flex-wrap: wrap;
            cursor: default;
            .form-title{
                padding-right: 10px;
                // color: rgba(0,0,0,0.7);
                width: 130px;
                font-size: 13px;
                font-family: NotoBold;
            }
            .form-paragraph{
                // width: 100%;
                padding: 5px 5px 0 5px;
                font-size: 12px;
                font-family: MeriReg;
                line-height: 18px;
                font-style: italic;
            }
        }
        .form-group:nth-child(odd) {
        }
        .form-group:hover{
        }
    }
    .product-thumbnail{
        width: 70%;
        margin: auto;
        margin-top: 10px;
        .thumbnail-module{
            width: 50px;
            cursor: pointer;
            transition: all .3s ease;
            margin: 0 4px;
            opacity: 0.45;
        }
        .thumbnail-module.active{
            opacity: 1;
        }
    }
    .product-thumbnail:hover{
        .thumbnail-module:hover{
            opacity: 1;
        }
    }
    .title{
        width: 100%;
    }
    .product-information{
        width: 100%;
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: none;
        #productVideo{
        }
        .product-highlights{
            width: 100%;
        }
    }
}
//productDetail
.inquire-button{
    font-family: NotoReg;
    font-size: 14px;
    background: #191919;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 20px;
}
//productList
#productList{
    padding-top: 30px;
    font-family: NotoReg;
    text-align: center;
    min-height: 89vh;
    position: relative;
    padding-bottom: 30px;
    .title{
        font-size: 24px;
    }
    .paragraph{
        font-size: 12px;
    }
    .product-flex{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        padding-top: 20px;
    }
    .product-module{
        width: 23%;
        margin-right: 2%;
        margin-bottom: 30px;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        .badge-container{
            position: absolute;
            right: 0;
            top: 10%;
            overflow: hidden;
        }
        .fader{
            opacity: 0;
            transition: all .3s ease;
        }
        .badge{
            font-size: 10px;
            padding: 5px 0px;
            width: 55px;
            text-align: center;
            margin-bottom: 5px;
            transition: all .3s ease;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            position: relative;
            right: -55px;
            z-index: 5;
        }
        .badge.new{
            background: rgb(215, 215, 213);
            color: black;
        }
        .badge.limited{
            background: rgb(164, 147, 109);
            color: black;
            font-size: 10px;
        }
        .badge.sale{
            background: rgb(152, 62, 62);
            color: white;
        }
        .view-btn{
            // border-radius: 5px;
            border: 1px solid black;
            font-size: 14px;
            padding: 10px 0;
            width: 50%;
            text-align: center;
            margin: auto;
            transition: all .5s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            // background: black;
            // color: white;
            background: white;
            font-family: SourceSans;
            span.forarrow {
                transform: scaleX(0.5);
                display: block;
                display: inline-block;
                position: relative;
                top: 1px;
            }
        }
        .view-btn:hover{
            background: black;
            color: white;
            // border: 1px solid black;
            border-radius: 5px;
        }
        .price{
            font-size: 15px;
            width: 50%;
            text-align: right;
            font-family: NotoBold;
            color: #555;
            .unit{
                font-size: 10px;
                margin-right: 3px;
            }
        }
        .detail{
            font-size: 16px;
            font-family: NotoBold;
            opacity: 1;
            letter-spacing: 1px;
        }
        img{
            transition: all .3s ease;
            max-width: 70%;
            margin: auto;
            display: block;
            border-radius: 10px;
        }
        .float-detail{
            // position: absolute;
            text-align: left;
            border-top: 1px solid #eee;
            width: 85%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-between;
            padding: 5px 5px;
        }
    }
    .product-module:hover{
        .view-btn{
            opacity: 1;
        }
        .fader{
            opacity: 1;
        }
        .badge{
            right: 0;
        }
    }
    .center{
        text-align: center;
        padding-bottom: 15px;
        width: 100%;
        position: absolute;
        bottom: 0;
        a{
            display: inline;
            text-decoration: underline;
        }
    }
}
//productList

//tonewoodParent
.section-title{
    font-family: NotoReg;
    font-size: 24px;
    text-align: center;
}
.section-caption{
    font-size: 12px;
    font-family: NotoReg;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
#tonewoodParent{
    padding-bottom: 20px;
    .tonewood-table{
        display: flex;
        flex-wrap: wrap;
        font-family: MeriReg;
        padding-top: 20px;
        justify-content: space-between;
        .table-module{
            display: flex;
            width: 50%;
            margin-bottom: 40px;
            .desc{
                padding: 2px 15px;
                .name{
                    display: inline-block;
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 3px;
                    padding-right: 3px;
                }
                .paragraph{
                    font-family: NotoReg;
                    font-size: 12px;
                    padding-top: 2px;
                    opacity: 0.86;
                    line-height: 20px;
                    padding-right: 30px;
                }
            }
        }
        img{
            width: 130px;
            display: block;
            border-radius: 5px;
        }
    }
}
//tonewoodParent
.disclaimer{
    width: $container-width;
    margin: auto;
    font-size: 11px;
    font-family: NotoReg;
    padding-top: 10px;
    text-align: left;
    // width: 100%;
    a{
        display: inline-block;
        text-decoration: underline;
    }
}

//featureParent
.fader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5)
}
.banner-section{
    color: white;
    height: 25vw;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .slider-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        text-align: center;
        letter-spacing: 1px;
    }
    .banner-title{
        font-family: NotoBold;
        font-size: 30px;
    }
    .banner-caption{
        font-family: NotoReg;
        padding-top: 10px;
    }
}
#introBanner{
    background-image: url('../img/global/banner-6.jpg');
}
#detailBanner{
    background-image: url('../img/global/banner-66.jpg');
}
#shapeParent{
    padding-bottom: 70px;
    padding-top: 40px;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // background: white;
    }
    .shape-group{
        display: flex;
        font-family: NotoReg;
        align-items: flex-start;
        // max-height: 314px;
        // margin-top: 50px;
        margin-bottom: 40px;
        justify-content: center;
        // border-bottom: 1px solid #eee;
        width: 48%;
        .shape-img{
            width: 40%;
            img{
                display: block;
                margin: auto;
                width: 100%;
            }
        }
        .shape-paragraph{
            width: 60%;
            padding-top: 20px;
            padding-left: 10px;
            .shape-title{
                font-family: NotoBold;
                padding-bottom: 5px;
                font-size: 17px;
                display: inline-block;
                border-bottom: 1px solid #aaa;
                padding-right: 5px;
            }
            .shape-text{
                padding-top: 10px;
                font-size: 13px;
            }
        }
        .shape-specs{
            display: flex;
            padding-top: 10px;
            flex-wrap: wrap;
            .spec-group{
                display: flex;
                width: 100%;
                font-size: 14px;
                font-family: SourceSans;
                margin-bottom: 1px;
                align-items: baseline;
                .spec-title{
                    font-size: 13px;
                    font-family: NotoBold;
                    padding-right: 5px;
                }
            }
        }
    }
}

#bracingParent{
    // padding-bottom: 40px;
    .container{
        display: flex;
        justify-content: space-between;
    }
}
.browse-button{
    padding: 10px 20px;
    padding-right: 25px;
    position: relative;
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    font-family: SourceSans;
    background: #420f0f;
    color: #eee;
    transition: all .3s ease;
    border-radius: 5px;
}
.browse-button:after{

}
.browse-button:hover{
    color: white;
}
#namingParent{
    margin: 50px 0;
    padding-bottom: 40px;
    text-align: center;
    .black-bg{
        color: white;
        background: #191919;
        padding: 50px;
        margin-bottom: 20px;
    }
    .name-example{
        font-size: 90px;
        font-family: NotoBold;
        margin-top: 30px;
        padding-bottom: 30px;
        span{
            position: relative;
            padding: 0px 0;
            padding-bottom: 10px;
            margin: -10px;
            line-height: 45px;
        }
        span:after{
            font-family: SourceSans;
            font-size: 12px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
            width: 100px;
        }
        .shape{
            color: rgba(227, 208, 140, 0.78);
        }
        .shape:after{
            content: "Shape Code";
            top: 0;
        }
        .soundboard{
            color: rgba(225,225,225, 0.8);
        }
        .soundboard:after{
            content: "Soundboard";
        }
        .bodywood{
            color: rgba(241, 245, 196, 0.78);
        }
        .bodywood:after{
            content: "Bodywood";
            top: 0;
        }
        .series:after{
            content: "Series"
        }
        .extras{
            color: rgba(229, 182, 230, 0.71);
        }
        .extras:after{
            top: 15px;
            content: "Features"
        }

    }
    .table-parent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .group-parent{
            width: 25%;
        }
        .table-group{
            width: 100%;
            display: flex;
            font-family: NotoBold;
            align-items: baseline;
            .code-name{
                width: 45px;
                font-size: 14px;
                text-align: right;
                padding: 5px 0;
                padding-right: 5px;
                border-right: 1px solid #aaa;
            }
            .full-name{
                font-family: SourceSans;
                padding-left: 4px;
                font-size: 16px;
            }
        }
    }
}
#featureBelt{
    background: #191919;
    padding: 30px 0 20px;
    color: white;
    font-family: MeriReg;
    .slick-dots{
        display: flex;
        padding-top: 30px;
        width: 150px;
        margin: auto;
        justify-content: space-around;
        li{
            width: 30px;
            height: 8px;
            background: rgba(255, 255, 255, 0.88);
            cursor: pointer;
            border: 1px solid #333;
            transition: all .3s ease;
            button{
                display: none;
            }
        }
        li.slick-active{
            background: rgba(227, 208, 140, 0.78)
        }

    }
    .feature-slider{
        padding: 20px 0 ;
        .feature-img{
            min-height: 247px;
            position: relative;
            overflow: hidden;
            img{
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
            }
        }

        .feature-module{
            width: 300px;
            padding: 0 30px;
            outline: none;
            position: relative;
            text-align: center;
            img{
                opacity: 0;
                transition: all .5s ease;
            }
            .feature-title{
                font-family: MeriBold;
                padding-top: 10px;
                font-size: 14px;
                letter-spacing: 1px;
                position: relative;
                opacity: 0;
                top: 10px;
                transition: all .5s ease 0.3s;
            }
            .feature-paragraph{
                font-size: 12px;
                line-height: 20px;
                padding-top: 5px;
                opacity: 0.87;
                position: relative;
                opacity: 0;
                top: 10px;
                transition: all .5s ease 0.5s;
            }
        }
        .feature-module:hover{
            img{
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
        .feature-module.slick-active{
            .feature-title, .feature-paragraph{
                opacity: 1;
                top: 0;
            }
            img{
                opacity: 1;
            }

        }

    }
}
//featureParent
#customParent{
    .container{
        position: relative;
        display: flex;
    }
    #customOptions{
        width: 100%;
        // min-height: 500px;
    }
    #customSummary{
        width: 330px;
        border-left: 1px solid #eee;
        font-family: NotoBold;
        padding: 50px 10px;
        .title{

            font-family: MeriBold;
            opacity: 0.8;
        }
        .legend{
            padding-top: 10px;
            font-size: 12px;
            padding-bottom: 10px;
            font-family: SourceSans;
        }
        .form-group{
            display: flex;
            font-size: 14px;
            padding-bottom: 7px;
            padding-left: 10px;
            position: relative;
            align-items: baseline;
            .form-title{
                font-family: NotoBold;
                // opacity: 0.6;
            }
            .form-text{
                font-family: SourceSans;
                font-size: 15px;
                padding-left: 5px;
            }
            .price{
                color: green;
                opacity: 0.6;
                font-family: NotoBold;
                // position: absolute;
                // right: 20px;
                padding-left: 10px;
                font-size: 12px;
            }
        }
        .total{
            display: flex;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #aaa;
            align-items: baseline;
            justify-content: space-between;
            .form-unit{
                font-size: 11px;
                opacity: 0.7;
            }
            .total-price{
                font-family: NotoBold;
                font-size: 18px;
                .unit{
                    font-family: NotoReg;
                    font-size: 10px;
                    padding-right: 5px;
                }
            }
        }
        .form-group:after{
            content: " \25CF";
            font-size: 10px;
            line-height: 20px;
            position: absolute;
            opacity: 0.5;
            left: 0
        }
    }
}
