// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    // font-family: LatoReg;
}
a{
    display: block;
}
@font-face {
    font-family: "LatoReg";
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: "MeriReg";
    src: url('../fonts/Merriweather-Regular.ttf');
}
@font-face {
    font-family: "MeriBold";
    src: url('../fonts/Merriweather-Bold.ttf');
}
@font-face {
    font-family: "NotoReg";
    src: url('../fonts/NotoSerif-Regular.ttf');
}
@font-face {
    font-family: "NotoBold";
    src: url('../fonts/NotoSerif-Bold.ttf');
}
@font-face {
    font-family: "SourceSans";
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
//init end

//pallette
$container-width: 100%;
.container{
    position: relative;
    width: $container-width;
    margin: auto;
    padding: 0 10px;
}
.flex{
    display: flex;
}
.drop-arrow{
    width: 8px;
    position: relative;
    left: -2px;
}
//pallette

//Navbar
#navbar{
    // padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: NotoReg;
    letter-spacing: 2px;
    z-index: 55;
    transition: all .3s ease;
    background: white;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    .logo-container{
        padding: 3px 0;
        img{
            width: 30px;
            padding: 5px;
            display: inline-block;
            position: relative;
            // top: 10px;
        }
        .logo-text{
            position: relative;
            left: -2px;
            font-size: 16px;
            opacity: 0.9;
            opacity: 0;
            transition: all 1.2s ease;
        }
    }
    .flex{
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        background: white;
        padding: 0px 10px;
        align-items: center;
        transition: all .3s ease;
    }
    .nav-ul{
        display: flex;
        font-size: 14px;
        /* display: none; */
        position: absolute;
        background: rgba(255, 255, 255, 1);
        border-top: 1px solid #eee;
        box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.3);
        top: 51px;
        flex-wrap: wrap;
        width: 100%;
        // border-bottom: 1px solid #eee;
        left: 0;
        padding-bottom: 10px;
        display: none;
        li{
            position: relative;
            width: 100%;
            color: #333;

            a{
                padding: 8px 0px 8px 15px;
                opacity: 0.8;
                transition: all .3s ease;
                letter-spacing: 1px;
            }
            img{
                // filter: invert(100);
            }
            .sub-menu{
                display: none;
                padding: 0px 30px 0px;
                li{
                    opacity: 0.8;
                    a{
                        padding: 7px 15px;
                    }
                }
                li:hover{
                    opacity: 1;
                }
            }
        }
        li:hover{
            a{
                opacity: 1;
            }
            .sub-menu{
                display: block;
            }
        }
    }
    .nav-ul.active{
        display: block;
    }
}
#navbar.scrolled{
    // padding: 10px 0;
    .flex{
        border-bottom: 1px solid #eee;
    }
}
.mobile-handle{
    width: 23px;
    transition: all .3s ease;
    .mobile-lines{
        border: 1px solid black;
        margin: 5px 0px;
        position: relative;
        transition: all .2s ease;
        top: 0;
    }
}
.mobile-handle.active{
    transform: rotateZ(-180deg);
    #line1{
        transform: rotateZ(45deg);
        top: 7px;
    }
    #line2{
        opacity: 0;
        transform: rotateZ(5deg);
    }
    #line3{
        transform: rotateZ(-45deg);
        top: -7px;
    }
}
//Navbar
//Index
#newsSlider{
    background: #eee;
    position: relative;
    top: -53px;
    margin-bottom: -53px;
    #slider1{
        background-image: url('../img/global/banner-9.jpg');
    }
    #slider2{
        background-image: url('../img/global/banner-4.jpg');
    }
    #slider3{
        background-image: url('../img/global/banner-6.jpg');
    }
    .slider-module{
        min-height: 90vh;
        background-size: cover;
        background-position: center center;
    }
    .text-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        color: white;
        font-family: MeriReg;
        .text-title{
            font-size: 24px;
            font-family: MeriBold;
            transition: all .5s ease;
            opacity: 0;
            position: relative;
            top: 25px;
        }
        .text-caption{
            margin-top: 10px;
            font-size: 14px;
            transition: all .5s ease .2s;
            opacity: 0;
            position: relative;
            top: 15px;
        }
        .general-button{
            padding: 5px 25px;
            display: inline-block;
            margin: auto;
            background: rgb(102, 47, 47);
            font-size: 15px;
            font-family: NotoReg;
            margin-top: 20px;
            outline: none;
            transition: all .5s ease .3s;
            opacity: 0;
            position: relative;
            top: 15px;
        }
    }
    .slick-active{
        .text-title, .text-caption, .general-button{
            top: 0;
            opacity: 1;
        }
    }
    .slick-dots{
        display: flex;
        padding-top: 30px;
        width: 100%;
        margin: auto;
        justify-content: center;
        position: absolute;
        bottom: 30px;
        li{
            width: 30px;
            height: 8px;
            margin: 0 5px;
            background: rgba(255, 255, 255, 0.88);
            cursor: pointer;
            transition: all .3s ease;
            button{
                display: none;
            }
        }
        li.slick-active{
            background: rgba(227, 208, 140, 0.78)
        }
    }
}
#conceptParent{
    // background: #191919;
    // color: white;
    padding: 30px;
    .flex{
        flex-wrap: wrap;
    }
    .w40, .w60{
        width: 100%;
    }
    .section-title{
        text-align: left;
        padding-bottom: 10px;
    }
    .section-paragraph{
        font-size: 12px;
        font-family: MeriReg;
        color: #999;
        padding-right: 30px;
        line-height: 22px;
    }
    img{
        width: 100%;
        display: block;
    }
}
#seriesHighlights{
    padding: 30px 0 30px;
    .slick-dots{
        padding-top: 10px;
    }
    .series-container{
        justify-content: space-between;
        width: 100%;
        margin: auto;
        .forarrow{
            top: 0;
        }
        .w30{
            width: 300px;
            margin: auto;
            opacity: 1;
            padding: 10px 10px;
            transition: all .3s ease;
            outline: none;
            .series-title{
                font-family: NotoBold;
                font-size: 18px;
                text-align: center;
                opacity: 0;
                position: relative;

                transition: all .5s ease .7s;
            }
            .series-caption{
                text-align: center;
                font-family: MeriReg;
                font-size: 11px;
                padding-bottom: 10px;
                opacity: 0;
                transition: all .5s ease .1s;
                width: 100%;
            }
            img{
                margin: auto;
                display: block;
                width: 80%;
                opacity: 0;
                transition: all .8s ease .3s;
            }
            .series-button{
                font-family: MeriReg;
                text-align: center;
                position: relative;
                font-size: 14px;
                width: 100%;
                opacity: 1;
                top: 0px;
                display: inline-block;
                margin: auto;
                opacity: 0;
                top: 10px;
                transition: all .5s ease .5s;
            }
        }
        .w30.slick-current{
            .series-title{
                opacity: 1;
                top: 0;
            }
            .series-caption{
                opacity: 1;
            }
            img{
                opacity: 1;
            }
            .series-button{
                top: 0;
                opacity: 1;
            }
        }
    }
}
#indexGallery{
    background: #191919;
    padding: 30px 0;
    color: white;
    .section-caption{
        a{
            display: inline-block;
        }
    }
    .instagram-belt{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin: auto;
        padding: 20px 0;
        .instagram-module{
            width: 33.33vw;
            position: relative;
            height: 33.33vw;
            overflow: hidden;
            border: 1px solid #222;
            cursor: pointer;
            .hover-tint{
                width: 100%;
                height: 100%;
                z-index: 5;
                background: rgba(255,255,255,0.5);
                position: absolute;
                opacity: 0;
                transition: all .3s ease;
            }
            .text-container{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: NotoBold;
                z-index: 6;
                color: black;
            }
            img{
                display: block;
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                width: 100%;
                // height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .instagram-module:hover{
            .hover-tint{
                opacity: 1;
            }
        }
    }
}
//Index
//parentContainer
#parentContainer{
    min-height: 95vh;
    background: white;
    position: relative;
    z-index: 5;
    margin-bottom: 34px;
    // padding-top: 53px;
    // padding-bottom: 30px;
}
//parentContainer

//Footer
#footer{
    width: 100%;
    z-index: 4;
    font-family: NotoReg;
    font-size: 13px;
    background: #fafafa;
    box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.3);
    .flex{
        justify-content: space-between;
        padding: 20px 15px;
        align-items: center;
        flex-wrap: wrap;
    }
    .flex-module{
        width: 100%;
        padding: 7px 15px;
        text-align: center;
        font-size: 12px;
    }
}
//Footer

.w40{
    width: 100%;
}
.w45{
    width: 100%;
}
.w50{
    width: 50%;
}
.w60{
    width: 100%;
}
.arrow-container{
    width: 15px;
    height: 15px;
    border: 4px solid #eee;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
    cursor: pointer;
    transition: all .3s ease;
    z-index: 5;
}
.arrow-container.prev{
    left: 15px;
    border-right: 0;
    border-bottom: 0;
}
.arrow-container.next{
    right: 15px;
    border-left: 0;
    border-top: 0;
}
.arrow-container.slick-disabled{
    opacity: 0.3;
}
//productDetail
#productBanner{
    display: none;
    background-image: url('../img/global/banner-5.jpg');
    background-position: center bottom;
    height: 30vh;
    .slider-text{
        top: auto;
        left: 50%;
        bottom: 0%;
        padding-left: 10px;
        display: flex;
        align-items: baseline;
        .banner-caption{
            padding-left: 20px;
        }
    }
}
#productDetail{
    .flex{
        flex-wrap: wrap;
        padding: 0;
    }
    img{
        max-width: 100%;
    }
    // .arrow-container{
    //     border-color: #9e8d35;
    // }
    .product-big{
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
        transition: all .2s ease;
        background-image: url();
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        // display: none;
        margin-bottom: 0px;
    }
    #productShow{
        transition: all 0.5s ease;
        display: block;
    }
    #productShow.hide{
        opacity: 0;
    }
    .product-img-parent{
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .wRight{
        width: 100%;
        padding: 0px 0px 10px;
        z-index: 5;
        .form-header{
            color: white;
            background: #111;
            padding: 10px;
            margin-bottom: 10px;
            font-family: MeriReg;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .breadcrumb{
                width: 100%;
                display: flex;
                font-size: 12px;
                font-family: NotoReg;
                margin-bottom: 10px;
                opacity: 0.6;
                .seperator{
                    padding: 0 10px;
                }
            }
            .title{
                font-size: 20px;
                font-family: NotoBold;
                opacity: 0.8;
            }
            .series{
                font-size: 12px;
                font-style: italic;
                letter-spacing: 1px;
                opacity: 0.8;
            }
            .price{
                font-size: 20px;
                font-family: NotoBold;
                text-align: right;
                opacity: 0.8;
                .unit{
                    font-size: 12px;
                    font-family: NotoReg;
                    letter-spacing: 0;
                }
            }
        }
        .form-header.compact{

        }
        .form-group{
            display: flex;
            width: 100%;
            padding: 5px 10px;
            font-family: SourceSans;
            font-size: 14px;
            transition: all .3s ease;
            align-items: center;
            flex-wrap: wrap;
            cursor: default;
            .form-title{
                padding-right: 10px;
                font-size: 13px;
                font-family: NotoBold;
            }
            .form-paragraph{
                // width: 100%;
                padding: 5px 5px 0 5px;
                font-size: 12px;
                font-family: MeriReg;
                line-height: 18px;
                font-style: italic;

            }
        }
        .form-group:nth-child(odd) {
        }
        .form-group:hover{
        }
    }
    .product-thumbnail{
        width: 100%;
        padding: 10px 40px;
        margin: auto;
        margin-top: 0px;
        background: black;
        // display: flex;
        // flex-wrap: wrap;
        // margin-bottom: -74px;
        .thumbnail-module{
            padding: 5px;
            opacity: 1;
            margin: 0 0px;
            opacity: 0.5;
        }
        .thumbnail-module.active{
            opacity: 1;
        }
    }
    .title{
        width: 100%;
    }
    .product-information{
        width: 100%;
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: none;
        #productVideo{
        }
        .product-highlights{
            width: 100%;
        }
    }
}
span.forarrow {
    transform: scaleX(0.5);
    display: block;
    display: inline-block;
    position: relative;
    top: 1px;
}
//productDetail
.inquire-button{
    font-family: NotoReg;
    font-size: 14px;
    background: #191919;
    color: white;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 20px;
}
//productList
#productList{
    padding-top: 30px;
    font-family: NotoReg;
    text-align: center;
    min-height: 89vh;
    position: relative;
    padding-bottom: 30px;
    .title{
        font-size: 24px;
    }
    .paragraph{
        font-size: 12px;
    }
    .product-flex{
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        justify-content: space-between;
        padding-top: 20px;
    }
    .product-module{
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        position: relative;
        outline: none;
        .fader{
            display: none;
        }
        .img-container{
            width: 50%;
            img{
                width: 100%;
                margin: auto;
            }
        }
        .view-btn{
            font-size: 14px;
            padding: 3px 0px;
            display: inline-block;
            text-align: center;
            margin-top: 5px;
            transition: all .3s ease;
            font-family: SourceSans;
            align-items: center;
            position: absolute;
            bottom: 40px;
            right: 30px;
            border-bottom: 1px solid #888;
        }
        .price{
            font-size: 16px;
            width: 100%;
            text-align: left;
            padding: 5px 0;
            font-family: NotoBold;
            color: #555;
            .unit{
                font-size: 10px;
                margin-right: 5px;
            }
        }
        .detail{
            font-size: 18px;
            font-family: NotoBold;
            opacity: 1;
            // letter-spacing: 1px;
        }
        img{
            transition: all .3s ease;
            max-width: 100%;
            display: block;
        }
        .float-detail{
            text-align: left;
            width: 50%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: flex-start;
            // padding: 5px 15px;
        }
    }
    .product-module.hidden{
        display: none;
    }
    .center{
        text-align: center;
        padding-bottom: 15px;
        width: 100%;
        position: absolute;
        bottom: 0;
        a{
            display: inline;
            text-decoration: underline;
        }
    }
}
.mobile-filter{
    padding-left: 10px;
    background: #333;
    color: #eee;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 5px;
    position: relative;
    // margin: 10px 0 0;
    margin-right: 10px;
    margin-bottom: 5px;
}
.product-filter{
    position: fixed;
    z-index: 557;
    text-align: left;
    background: white;
    left: -350px;
    top: 0;
    padding: 20px;
    padding-top: 80px;
    overflow: hidden;
    width: 250px;
    height: 100%;
    transition: all .3s ease;
    .mobile-filter{
        display: inline-block;
        float: right;
        top: -15px;
        right: -15px;
    }
    .filter-title{
        font-family: MeriBold;
        font-size: 14px;
    }
    .filter-module{
        padding-top: 15px;
    }
    .filter-choice{
        padding-top: 5px;
        padding-left: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .filter-check{
        vertical-align: middle;
        margin-right: 3px;
    }
    .choice-box{
        font-size: 12px;
        padding: 3px 0;
        font-family: NotoReg;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        label{
            cursor: pointer;
        }
    }
}
.product-filter.active{
    left: 0;
    box-shadow: 150px 0px 0px 0px rgba(0,0,0,0.7);
}
.filter-content-parent{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.filter-buble{
    background: #eee;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px;
    padding-right: 35px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
.filter-buble:after{
    content: "+";
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
    right: 10px;
    font-family: SourceSans;
    width: 15px;
    height: 15px;
    line-height: 14px;
    border-radius: 50%;
}
.tags{
    display: none;
}
//productList

//tonewoodParent
#woodBanner{
    background-image: url('../img/global/banner-x.jpg');
}
.section-title{
    font-family: NotoReg;
    font-size: 24px;
    text-align: center;
}
.section-caption{
    font-size: 12px;
    font-family: NotoReg;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
#tonewoodParent{
    padding-bottom: 20px;
    .tonewood-table{
        display: flex;
        flex-wrap: wrap;
        font-family: MeriReg;
        padding-top: 20px;
        justify-content: space-between;
        .table-module{
            display: flex;
            width: 100%;
            margin-bottom: 50px;
            flex-wrap: wrap;
            .desc{
                padding: 2px 0px;
                width: 60%;
                padding-left: 10px;
                .name{
                    display: inline-block;
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 3px;
                    padding-right: 3px;
                }
                .paragraph{
                    font-family: NotoReg;
                    font-size: 12px;
                    padding-top: 2px;
                    opacity: 0.86;
                    line-height: 17px;
                    // padding-right: 30px;
                }
            }
        }
        .picture{
            width: 40%;
            margin: auto;
            margin-bottom: 10px;
        }
        img{
            width: 100%;
            display: block;
            border-radius: 5px;
        }
    }
}
//tonewoodParent
.disclaimer{
    width: $container-width;
    margin: auto;
    font-size: 12px;
    font-family: NotoReg;
    padding: 10px;
    // padding-top: 10px;
    // padding-left: 10px;
    text-align: left;
    // width: 100%;
    a{
        display: inline-block;
        text-decoration: underline;
    }
}


//featureParent
.fader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6)
}
.banner-section{
    color: white;
    height: 72vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    .slider-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    .banner-title{
        font-family: NotoBold;
        font-size: 24px;
    }
    .banner-caption{
        font-family: NotoReg;
        padding-top: 10px;
    }
}
#introBanner{
    background-image: url('../img/global/banner-6.jpg');
}
#detailBanner{
    height: 40vh;
    background-image: url('../img/global/banner-66.jpg');
}
#shapeParent{
    padding-top: 30px;
    // padding-bottom: 70px;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .shape-group{
        display: flex;
        font-family: NotoReg;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 10px;
        justify-content: center;
        width: 100%;
        .shape-img{
            width: 70%;
            img{
                display: block;
                margin: auto;
                width: 100%;
            }
        }
        .shape-paragraph{
            width: 100%;
            padding-bottom: 10px;
            .shape-title{
                font-family: NotoBold;
                padding-bottom: 5px;
                font-size: 15px;
                display: inline-block;
                margin-bottom: 5px;
                border-bottom: 1px solid #aaa;
            }
            .shape-text{
                padding-top: 3px;
                font-size: 12px;
            }
        }
        .shape-specs{
            display: flex;
            padding-top: 10px;
            flex-wrap: wrap;
            .spec-group{
                display: flex;
                width: 50%;
                font-size: 13px;
                font-family: SourceSans;
                margin-bottom: 3px;
                align-items: baseline;
                .spec-title{
                    font-size: 13px;
                    font-family: NotoBold;
                    padding-right: 5px;
                }
            }
        }
    }
}

#bracingParent{
    // padding-bottom: 40px;
    .container{
        display: flex;
        justify-content: space-between;
    }
}
.browse-button{
    padding: 10px 20px;
    padding-right: 25px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family: SourceSans;
    background: #420f0f;
    color: #eee;
    transition: all .3s ease;
    border-radius: 5px;
}
.browse-button:after{

}
.browse-button:hover{
    color: white;
}
#namingParent{
    // margin: 50px 0;
    // padding-bottom: 40px;
    text-align: center;
    .black-bg{
        color: white;
        background: #191919;
        padding: 50px 0;
        margin-bottom: 20px;
    }
    .name-example{
        font-size: 60px;
        font-family: NotoBold;
        margin-top: 30px;
        width: 100%;
        span{
            position: relative;
            padding: 10px 0;
            margin: 0 -5px;
            line-height: 30px;
            padding-bottom: 10px;
        }
        span:after{
            font-family: SourceSans;
            font-size: 10px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
            width: 100px;
        }
        .shape{
            color: rgba(227, 208, 140, 0.78);
        }
        .shape:after{
            content: "Shape Code";
            top: 0;
        }
        .soundboard{
            color: rgba(225,225,225, 0.8);
        }
        .soundboard:after{
            content: "Soundboard";
        }
        .bodywood{
            color: rgba(241, 245, 196, 0.78);
        }
        .bodywood:after{
            content: "Bodywood";
            top: 0;
        }
        .series:after{
            content: "Series"
        }
        .extras{
            color: rgba(229, 182, 230, 0.71);
        }
        .extras:after{
            top: 0;
            content: "Features"
        }

    }
    .table-parent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .group-parent{
            // width: 100%;
            text-align: left;
        }
        .table-group{
            width: 100%;
            display: flex;
            font-family: NotoBold;
            align-items: baseline;
            // border: 1px solid #aaa;
            // margin: 2px 1px;
            .code-name{
                width: 30px;
                font-size: 14px;
                text-align: right;
                padding: 5px 0;
                padding-right: 5px;
                border-right: 1px solid #aaa;
            }
            .full-name{
                font-family: SourceSans;
                padding-left: 4px;
                font-size: 14px;
            }
        }
    }
}
.slick-dots{
    display: flex;
    padding-top: 30px;
    width: 100%;
    margin: auto;
    justify-content: center;
    li{
        width: 25px;
        height: 8px;
        margin: 0 4px;
        background: rgba(255, 255, 255, 0.88);
        cursor: pointer;
        border: 1px solid #333;
        transition: all .3s ease;
        button{
            display: none;
        }
    }
    li.slick-active{
        background: rgba(227, 208, 140, 0.78)
    }

}
#featureBelt{
    background: #191919;
    padding: 30px 0 20px;
    color: white;
    font-family: MeriReg;

    .feature-slider{
        padding: 20px 0 ;
        .feature-img{
            min-height: 247px;
            position: relative;
            overflow: hidden;
            img{
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                opacity: 0;
                transition: all .8s ease .1s;
            }
        }
        .feature-module{
            width: 300px;
            padding: 0 30px;
            outline: none;
            .feature-title{
                font-family: MeriBold;
                padding-top: 10px;
                font-size: 14px;
                text-align: center;
                letter-spacing: 1px;
                position: relative;
                opacity: 0;
                transition: all .3s ease .2s;
                top: 5px;
            }
            .feature-paragraph{
                font-size: 14px;
                line-height: 20px;
                font-family: SourceSans;
                padding-top: 5px;
                opacity: 0.87;
                position: relative;
                opacity: 0;
                transition: all .5s ease .3s;
                top: 10px;
                text-align: center;
            }
        }
        .feature-module.slick-active{
            img{
                opacity: 1;
            }
            .feature-title{
                opacity: 1;
                top: 0;
            }
            .feature-paragraph{
                opacity: .67;
                top: 0;
            }
        }

    }
}
//featureParent

#customParent{
    background: white;
    .container{
        position: relative;
    }
    .section-title, .section-caption{
        width: 100%;
    }
    #customOptions{
        // width: 350px;
        padding-top: 20px;
        // margin: auto;
    }
    .option-flex{
        display: flex;
        width: 250px;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        // margin-left: 150px;
        // padding-bottom: 100px;
    }
    .option-group{
        padding: 0px 0px;
        margin: 10px 0;
        width: 100%;
        // overflow: hidden;
        // max-height: 30px;
        transition: all .3s ease;
        .option-title{
            font-family: NotoBold;
            color: rgb(37, 30, 29);
            padding-bottom: 5px;
            border-bottom: 1px solid #333;
            font-size: 14px;
            padding: 5px 5px;
            position: relative;
            cursor: pointer;
            .chosen{
                font-family: SourceSans;
                padding-left: 0px;
                font-size: 14px;
                padding-top: 5px;
            }
        }
        .option-title:after{
            content: "";
            height: 10px;
            width: 10px;
            background-image: url('../img/global/drop-arrow.png');
            position: absolute;
            background-size: contain;
            right: 5px;
            top: 12px;
            transition: all .3s ease;
        }
        .option-choice{
            font-family: SourceSans;
            font-size: 14px;
            cursor: pointer;
            padding: 8px 25px;
            padding: 0 25px;
            max-height: 0;
            overflow: hidden;
            position: relative;
            opacity: 0;
            transition: all .3s ease;
            .prefix{
                font-size: 10px;
                color: #333;
                padding-left: 1px;
                vertical-align: middle;
            }
        }
        .option-choice.active:after{
            width: 7px;
            height: 7px;
            content: "";
            background: #222;
            border-radius: 50%;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        .option-choice:nth-child(even){
            // background: #f1f1f1;
        }
        .option-choice:hover{
            background: rgba(200,200,200,0.15);
        }
        .option-choice.active{
            background: rgba(200,200,200,0.2);
            color: #111;
            .prefix{
                color: #111;
            }
        }
    }
    .option-group.active{
        // max-height: 250px;
        .option-title:after{
            transform: rotateZ(-180deg);
        }
        .option-choice{
            opacity: 1;
            max-height: 30px;
            padding: 8px 25px;
        }
    }
    #customSummary{
        width: 90vw;
        font-family: NotoBold;
        padding: 10px 10px;
        position: fixed;
        top: 20vh;
        left: 5vw;
        background: white;
        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0vw 0vh 0vw 100vh rgba(0,0,0,0.5);
        display: none;
        .title{
            font-family: MeriBold;
            opacity: 0.8;
        }
        .legend{
            padding-top: 10px;
            font-size: 12px;
            padding-bottom: 10px;
            font-family: SourceSans;
        }
        .form-group{
            display: flex;
            font-size: 14px;
            padding-bottom: 7px;
            padding-left: 10px;
            position: relative;
            align-items: baseline;
            .form-title{
                font-family: NotoBold;
                // opacity: 0.6;
                font-size: 13px;
                width: 105px;
                position: relative;
            }
            .form-text{
                font-family: SourceSans;
                font-size: 15px;
                padding-left: 5px;
            }
            .price{
                color: green;
                opacity: 0.6;
                font-family: NotoBold;
                // position: absolute;
                // right: 20px;
                padding-left: 10px;
                font-size: 12px;
            }
        }
        .total{
            display: flex;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #aaa;
            align-items: baseline;
            justify-content: space-between;
            .form-unit{
                font-size: 11px;
                opacity: 0.7;
            }
            .total-price{
                font-family: NotoBold;
                font-size: 18px;
                .unit{
                    font-family: NotoReg;
                    font-size: 10px;
                    padding-right: 5px;
                }
            }
        }
        .form-group:after{
            content: " \25CF";
            font-size: 10px;
            line-height: 20px;
            position: absolute;
            opacity: 0.5;
            left: 0
        }
    }
    #customSummary.active{
        display: block;
    }
}

.view-summary-handle{
    position: fixed;
    background: #eee;
    height: 30px;
    width: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    bottom: 30px;
    right: 30px;
    opacity: 0.3;
    z-index: 5;
}



#hallOfFame{
    padding-top: 70px;
    .gallery-flex{
        display: flex;
        flex-wrap: wrap;
        // width: 700px;
        margin: auto;
        .gallery-module{
            width: 100%;
            margin: 20px;
            position: relative;
            img{
                width: 100%;
                display: block;
            }
            .hover-tint{
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+35,0.54+90 */
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.54) 90%, rgba(0,0,0,0.54) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.54) 90%,rgba(0,0,0,0.54) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.54) 90%,rgba(0,0,0,0.54) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8a000000',GradientType=0 ); /* IE6-9 */
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                transition: all .3s ease;
            }
            .description{
                position: absolute;
                bottom: 10px;
                left: 10px;
                color: white;
                font-family: MeriReg;
                font-size: 14px;
                opacity: 0;
                transition: all .3s ease;
                .model-name{
                    font-family: NotoReg;
                    font-size: 13px;
                }
            }
        }
        .gallery-module:hover{
            .hover-tint{
                opacity: 1;
            }
            .description{
                bottom: 20px;
                opacity: 0.87;
            }

        }
    }
}
