* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  display: block;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Damion";
  src: url("../fonts/Damion-Regular.ttf");
}

@font-face {
  font-family: "Yellowtail";
  src: url("../fonts/Yellowtail-Regular.ttf");
}

@font-face {
  font-family: "Marck";
  src: url("../fonts/MarckScript-Regular.ttf");
}

@font-face {
  font-family: "Norican";
  src: url("../fonts/Norican-Regular.ttf");
}

@font-face {
  font-family: "NothingYouCouldDo";
  src: url("../fonts/NothingYouCouldDo.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

.container {
  width: 1200px;
  margin: auto;
}

#navbar {
  font-family: Lato;
  padding-bottom: 5px;
  z-index: 99;
  position: fixed;
  width: 100%;
  background: white;
  padding: 10px 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

#navbar .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#navbar .logo-container {
  font-weight: bold;
  font-size: 30px;
}

#navbar .navbar-ul li {
  display: inline-block;
  margin-left: 30px;
}

#parentContainer {
  padding-top: 60px;
  min-height: 96vh;
  position: relative;
}

.fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.logo-container {
  font-family: NothingYouCouldDo;
  font-size: 30px;
  color: #333;
  letter-spacing: 1px;
}

.logo-container .motto {
  font-size: 20px;
  text-align: center;
  font-family: Marck;
  padding-top: 5px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#banner {
  overflow: hidden;
}

#banner .banner-blur {
  min-height: 300px;
  background-image: url(../img/assets/banner-1.jpg);
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
  transform: scale(1.1);
}

#builderBanner {
  overflow: hidden;
}

#builderBanner .banner-blur {
  min-height: 250px;
  background-image: url(../img/assets/hs-bg-2.jpg);
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
  transform: scale(1.05);
  background-repeat: no-repeat;
  background-position: left;
  background-color: black;
}

#footer {
  background: #111;
  text-align: center;
  font-family: Lato;
  color: white;
  padding: 15px 0;
  font-size: 12px;
  letter-spacing: 1px;
}

#footer .logo-container {
  font-size: 18px;
  color: white;
  padding-right: 10px;
  display: inline-block;
}

.section-container {
  position: relative;
}

.left-container {
  position: relative;
  width: 1200px;
  height: 100%;
  font-family: Lato;
  min-height: 80vh;
  padding-bottom: 20px;
  margin: auto;
  padding-right: 10%;
}

.left-container .build-tab {
  padding-bottom: 0px;
  border-left: 2px solid #692d2d;
  padding-left: 20px;
  margin: 25px 0;
  transition: all .1s ease;
}

.left-container .build-tab:hover {
  border-left: 2px solid #692d2d;
}

.left-container .build-tab.active {
  border-left: 5px solid #692d2d;
}

.left-container .title {
  font-size: 24px;
  font-family: Montserrat;
  position: relative;
}

.left-container .title .selected-title-summary {
  display: inline-block;
  padding-left: 20px;
  font-family: YellowTail;
  font-size: 18px;
  position: relative;
  top: -1px;
  opacity: 0;
  left: 5px;
  transition: all .3s ease;
}

.left-container .title.active .selected-title-summary {
  left: 0;
  opacity: 1;
}

.left-container .title.active .selected-title-summary:after {
  content: ".";
}

.left-container .title.active .selected-title-summary:before {
  content: "-";
}

.left-container .choice-belt {
  padding-top: 10px;
  width: 358px;
  padding-left: 4px;
  margin-left: 20px;
}

.left-container .choice-belt .choice-module {
  max-width: 115px;
  outline: none;
  padding: 5px;
  border: 1px solid transparent;
  transition: all .3s ease;
  cursor: pointer;
  margin-right: 5px;
  text-align: center;
  position: relative;
}

.left-container .choice-belt .choice-module .hover-notice {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: all .3s ease .1s;
  opacity: 0;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 23px;
}

.left-container .choice-belt .choice-module img {
  max-width: 100%;
  max-height: 100%;
  transition: all .3s ease;
  display: block;
  padding-bottom: 5px;
}

.left-container .choice-belt .choice-module .caption {
  font-size: 11px;
  text-align: left;
}

.left-container .choice-belt .choice-module .info {
  display: none;
}

.left-container .choice-belt .choice-module:hover {
  border-bottom: 1px solid #aaa;
}

.left-container .choice-belt .choice-module:hover img {
  opacity: 1;
}

.left-container .choice-belt .choice-module:hover .hover-notice {
  opacity: 1;
}

.left-container .choice-belt .choice-module.active {
  border: 1px solid #555;
}

.left-container .choice-belt .choice-module.active img {
  opacity: 1;
}

.left-container .info-container {
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height .5s ease 0.5s;
  display: flex;
  background: #f8f8f8;
  position: relative;
}

.left-container .info-container .disclaimer-caption {
  opacity: 0.5;
  font-size: 10px;
  text-align: center;
  padding-top: 10px;
}

.left-container .info-container .close-btn {
  position: absolute;
  top: -120px;
  right: 20px;
  padding: 10px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  cursor: pointer;
  opacity: 0;
  transform: rotateZ(45deg);
  transition: all 0.8s cubic-bezier(0.77, -0.29, 0.05, 1.27);
}

.left-container .info-container img {
  max-width: 100%;
  display: block;
  transition: all .3s ease;
  position: relative;
  opacity: 0;
  transition-delay: 0.2s;
  left: -100px;
}

.left-container .info-container .w60, .left-container .info-container .w25 {
  padding: 20px 20px 15px 20px;
}

.left-container .info-container .caption-copy {
  font-size: 18px;
  font-weight: bold;
  font-family: Montserrat;
  opacity: 0;
  transition: all .5s ease;
  transition-delay: .2s;
  position: relative;
  left: 20px;
}

.left-container .info-container .info-copy {
  font-family: Lato;
  opacity: 0;
  transition: all .4s ease;
  transition-delay: .3s;
  position: relative;
  left: 40px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  padding: 10px 0;
  overflow-y: auto;
  max-height: 170px;
}

.left-container .info-container.active {
  max-height: 400px;
  transition-delay: 0s;
}

.left-container .info-container.active img {
  opacity: 1;
  left: 0;
}

.left-container .info-container.active .info-copy, .left-container .info-container.active .caption-copy {
  opacity: 1;
  left: 0;
}

.left-container .info-container.active .close-btn {
  position: absolute;
  top: 20px;
  padding: 6px;
  opacity: 1;
  transform: rotateZ(495deg);
}

.slick-arrow {
  top: 60px;
  width: 13px;
  height: 13px;
  background: #fff;
  cursor: pointer;
  transition: all .3s ease;
}

.slick-arrow.slick-disabled {
  cursor: default;
  background: #333;
  opacity: 0.5;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #333;
  transform: rotateZ(180deg);
}

.custom-next {
  position: absolute;
  right: -20px;
  display: block;
  border-right: 3px solid #333;
  border-top: 3px solid #333;
  transform: rotateZ(45deg);
}

.custom-prev {
  position: absolute;
  left: -20px;
  display: block;
  border-left: 3px solid #333;
  border-top: 3px solid #333;
  transform: rotateZ(-45deg);
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

#rosetteDesigner .flex {
  padding-top: 10px;
}

.rosette-choice-container {
  padding: 5px;
}

.rosette-preview-parent {
  height: 250px;
  width: 250px;
  position: relative;
  border: 1px solid #fafafa;
  padding: 5px;
}

.rosette-preview-parent .base-wood {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../img/guitars/wood/sitka.jpg");
}

.rosette-preview-parent .soundhole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  z-index: 5;
  background-image: url("../img/guitars/wood/sitka.jpg");
  border-radius: 50%;
}

.rosette-preview-parent .soundhole .hole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  z-index: 5;
  background: #111;
  border-radius: 50%;
  cursor: pointer;
}

.rosette-preview-parent .soundhole .hole:hover {
  opacity: 0.9;
}

.rosette-preview-parent .rosette-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../img/guitars/wood/macassar-ebony.jpg");
  cursor: pointer;
}

.rosette-preview-parent .rosette-main:hover {
  opacity: 0.9;
}

.right-float {
  position: absolute;
  border: 1px solid #eee;
  padding: 20px;
  right: 20px;
  top: 20px;
  font-family: Lato;
}

.flex {
  display: flex;
}

.jo-popup {
  cursor: pointer;
}

#popupParent {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

#popupParent .popup-content {
  background: white;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popupParent .popup-content img {
  max-width: 500px;
  display: block;
}

#popupParent .close-btn {
  position: absolute;
  top: -120px;
  right: 20px;
  padding: 10px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  opacity: 0;
  transform: rotateZ(45deg);
  transition: all 0.8s cubic-bezier(0.77, -0.29, 0.05, 1.27);
}

#popupParent.active {
  display: block;
}

#popupParent.active .close-btn {
  position: absolute;
  top: 20px;
  padding: 8px;
  opacity: 1;
  transform: rotateZ(495deg);
}

.jo-popup-parent {
  position: relative;
}

.jo-popup-parent:after {
  content: '';
  height: 30px;
  width: 30px;
  background-image: url("../img/assets/zoom.png");
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0;
  transition: all .3s ease;
  background-size: cover;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.jo-popup-parent:hover:after {
  opacity: 1;
}
